/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

h1,
h2 {
  font-family: 'Bangers', cursive;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  padding: 20px 0;
}

h2 {
  font-size: 1.2em;
  padding-bottom : 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.col {
  padding:20px;
  background-color: gainsboro;
  border: gray 1px dashed ;
}

.image {
  height: 200px
}
